* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0a0f1c;
  color: #ffffff;
}
